<% content_for :title, "Logga in" %>

<h1>Inloggning</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Användarnamn" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Lösenord" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :remember_me do %>
      Kom ihåg mig!
      <%= f.check_box :remember_me %>
    <% end %>
  </div>
  <%= f.submit "Logga in", class: 'btn btn-primary' %>
<% end %>
