<% content_for :title, "Logga in" %>


<section class="login-form">
<%= form_for(:session, url: login_path, html: {role: "login"}) do |f| %>



          <!--<img src="app/assets/images/logo.png" class="img-responsive" alt="" />-->

          <%= image_tag("logo-white.png") %>
          <!-- # => <img alt="Logo" src="/assets/logo" /> -->
          
          <!--
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
          <input type="password" name="password" placeholder="Password" required class="form-control input-lg" />
          -->

          <div class="form-group">
            <%= f.label :name, "Användarnamn" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "Lösenord" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              Kom ihåg mig
            <% end %>
          </div>
          
          <%= f.submit "Logga in", class: "btn btn-lg btn-block btn-primary" %>
          
   
        <div class="form-links">
          <a href="#" class="text-primary">Har du glömt ditt lösenord?</a>
        </div>

         
      </section>
<% end %>
