<%= will_paginate @tasks %>
<section id="admin-task-header"><p>Uppgifter</p></section>
<section id="admin-task-content">
	<ul class="admin-task-list">
		<li class="panel panel-primary panel-task list-head">
			<span class="status"><section class="wide">Status</section></span>
			<span class="title">Uppgift</span>
			<span class="priority"><section class="wide">Prioritet</section></span>
			<span class="time">Tidspann</span>
			<span class="users">Tilldelad</span>
		</li>
	<% @tasks.each do |task| %>
	  <% if current_user.admin? || task.users.include?(current_user) %>
	  	<li class="panel panel-primary panel-task <%= task.status %>">
	  		<span class="status"><section class="wide"><%= I18n.t :"task.status.#{task.status}" %></section></span>
	  		<span class="title"><%= link_to task.title, task %></span>
			<span class="priority"><div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div> <section><%= I18n.t :"task.priority.#{task.priority}" %></section></span>
			
			<span class="time">
				<section class="value-text">Start:</section> <section class="info-text"><%= task.start.strftime("%d-%m-%Y")  %></section> </br>
				<section class="value-text">Slut:</section><section class="info-text"><%= task.end.strftime("%d-%m-%Y") %></section>
			</span>
			<span class="users"><a href="#" data-toggle="modal" data-target="#modal-<%= task.id %>">Visa tilldelad personal</a></span>
	  	</li>
	  <% end %>

	<% end %>
	</ul>
</section>

<!-- One modal per task, containing the tasks assigned users -->
<% @tasks.each do |task| %>
	<div class="modal fade" id="modal-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><%= task.title %></h4>
				</div>
				<div class="modal-body">
					<% if task.users.any? %>
						<% task.users.each do |user| %>
							<%= link_to "#{user.first_name + ' ' + user.last_name}", user %><br/>
						<% end %>
					<% else %>
						<p>Ingen personal har tilldelats denna uppgift</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
