<%= will_paginate @tasks %>
<ul class="admin-task-list">
	<li class="panel panel-primary panel-task list-head">
		<span>Status</span>
		<span>Prioritet</span>
		<span>Uppgift</span>
		<span>Tidspann</span>
		<span>Tilldelad</span>
	</li>
<% @tasks.each do |task| %>
  <% if current_user.admin? || task.users.include?(current_user) %>
  	<li class="panel panel-primary panel-task">
  		<span><%= I18n.t :"task.status.#{task.status}" %></span>
		<span class="priority"><div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div> <section><%= I18n.t :"task.priority.#{task.priority}" %></section></span>
		<span><%= link_to task.title, task %></span>
		<span><%= task.start.strftime("%D") %> - <%= task.end.strftime("%D") %></span>
		<span><%= link_to "Förnamn Efternamn" %></span>
  	</li>
  <% end %>

<% end %>
</ul>
