

  <div class="user-task-header"><p>Mina arbetsuppgifter</p></div>
  <div class="user-task-sort">
    <div id="list-sort">
      <%= form_tag(params, method: :get) do %>
          <p>Välj sortering</p>
          <%= select_tag(:sort, options_for_select(['Prioritet', 'Status'], params[:sort])) %>
          <%= select_tag(:sort_order, options_for_select(['Stigande', 'Fallande'], params[:sort_order])) %>

          <%= submit_tag "Sortera", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<div id="user-task-list">
  <ul class="user-task-list">
  <% current_user.tasks.each do |task| %>

  	<li data-toggle="tooltip" class="panel panel-primary panel-task <%= task.status %>">
  		<section class="task-header">
        <span data-toggle="collapse" href="#test" id="toggle">
          <span><%= link_to task.title, task %></span>
          <span id="caret" class="glyphicon glyphicon-menu-down"></span>
        </span>
  		</section>
  		<section class="task-info">
  			<span class="priority"><div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div> <span class="value-text">Prioritet:</span> <span class="info-text"><%= I18n.t :"task.priority.#{task.priority}" %></span></span>
  			<span class="time-span"><span class="value-text">Tidsspann:</span> <span class="info-text"><%= task.start.strftime("%d-%m-%Y") %> - <%= task.end.strftime("%d-%m-%Y") %></span></span>
  		</section>
  		<!-- <span><%= I18n.t :"task.status.#{task.status}" %></span> -->
		<!-- <span><%= link_to "Förnamn Efternamn" %></span> -->
		<ul class="children collapse" id="test">
			<li>
				<section>
					<div class="profile-circle-sidebar">
	                    <%= current_user.first_name[0] %><%= current_user.last_name[0] %>
	                </div>
	                <div class="task-desc">
	                	<p class="sender">Avs. Malin Ekström</p>
                    <div id="task-done">
	                	<p><%= task.description %></p>
	                 </div>
                  </div>
                </section>
			</li>
			<li class="task-action">
        <% case task.status
        when :not_started.to_s%>
          <%= link_to "Påbörja", task_path(task, "task[status]" => :in_progress, partial: true), method: :put %>
          <%= link_to "Avbryt", task_path(task, "task[status]" => :cancelled), method: :put %>
        <% when :in_progress.to_s %>
            <%= link_to "Klar", task_path(task, "task[status]" => :done), method: :put %>
            <%= link_to "Avbryt", task_path(task, "task[status]" => :cancelled), method: :put %>
        <% when :done.to_s, :cancelled.to_s %>
            <p id="task-done">Denna uppgift är avslutad</p>
        <% end %>
			</li>
		</ul>
  	</li>
  <% end %>
  </ul>
</div>

