<%= will_paginate @tasks %>
<ul class="user-task-list">
<li class="user-task-header"><p>Mina arbetsuppgifter</p></li>
<% @tasks.each do |task| %>
  <% task.users.include?(current_user) %>
  	<li data-toggle="tooltip" class="panel panel-primary panel-task <%= task.status %>">
  		<section class="task-header">
  			<span><%= link_to task.title, task %></span>
	  		<span data-toggle="collapse" href="#test" id="toggle">
	        	<span id="caret" class="glyphicon glyphicon-chevron-down"></span>
	        </span>
  		</section>
  		<section class="task-info">
  			<span class="priority"><div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div> <span class="value-text">Prioritet:</span> <span class="info-text"><%= I18n.t :"task.priority.#{task.priority}" %></span></span>
  			<span class="time-span"><span class="value-text">Tidsspann:</span> <span class="info-text"><%= task.start.strftime("%D") %> - <%= task.end.strftime("%D") %></span></span>
  		</section>
  		<!-- <span><%= I18n.t :"task.status.#{task.status}" %></span> -->
		<!-- <span><%= link_to "Förnamn Efternamn" %></span> -->
		<ul class="children collapse" id="test">
			<li>
				<section>
					<div class="profile-circle-sidebar">
	                    <%= current_user.first_name[0] %><%= current_user.last_name[0] %>
	                </div>
	                <div class="task-desc">
	                	<p class="sender">Avs. Malin Ekström</p>
	                	<p><%= task.description %></p>
	                </div>
                </section>
			</li>
			<li class="task-action">
				<%= link_to "Påbörja", tasks_path, class: "btn btn-primary" %>
			</li>
		</ul>
  	</li>
  <% end %>
 

</ul>