<% content_for :title, "Ny uppgift" %>


<%= form_for @task do |f| %>
    <%= render 'shared/error_messages', obj: f.object %>

    <div class="form-fields">
    <%= render 'task_fields', f: f %> <!-- rendame f maybe !-->
    <%= render 'user_fields', f: f %>
    </div>
    <%= f.submit "Skapa", class: "btn btn-primary" %>
    <%= link_to "Tillbaka", root_path, class: "btn btn-primary" %>
<% end %>