<%= render 'shared/flash_messages' %>

<% if current_user.admin? %>
    <%= render 'tasks/admin_task_list' %>
<% else %>
    <%= render 'tasks/user_task_list' %>
<% end %>

<section id="task-bottom">
  <%= will_paginate @tasks %>
  <div class="new-task-div">
    <% if current_user.project_manager? || current_user.admin? %>
  		<%= link_to "Skapa uppgift", new_task_path, class: "btn btn-primary" %>
	<% end %>
  </div>
</section>


