<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task %></h2>
  <p>Start: <%= task.start.strftime("%D") %></p>
  <p>Deadline: <%= task.end.strftime("%D") %></p>

  <!-- TODO - do something fancy with these, now the enum value is just printed -->
 <div data-toggle="tooltip" title="Status!" class='status-box <%= task.status %>'></div>
<div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div>
<% end %>

<%= link_to "Tillbaka", root_path, class: "btn btn-primary" %>
