<%= will_paginate @tasks %>

<% @tasks.each do |task| %>
  <% if current_user.admin? || task.users.include?(current_user) %>
    <h2><%= link_to task.title, task %></h2>
    <p>Start: <%= task.start.strftime("%D") %></p>
    <p>Deadline: <%= task.end.strftime("%D") %></p>

    Status: <p><%= I18n.t :"task.status.#{task.status}" %></p>
    Prioritet: <div data-toggle="tooltip" title="Priority!" class='priority-box <%= task.priority %>'></div>
  <% end %>
<% end %>

<% if current_user.project_manager? || current_user.admin? %>
  <%= link_to "Skapa uppgift", new_task_path, class: "btn btn-primary" %>
<% end %>

<%= link_to "Tillbaka", root_path, class: "btn btn-primary" %>
