<%= render 'shared/flash_messages' %>

<h2><%= @task.title %></h2>
<p><%= @task.description %></p>
<p>Start: <%= @task.start.strftime("%D") %></p>
<p>Deadline: <%= @task.end.strftime("%D") %></p>

Status: <p><%= I18n.t :"task.status.#{@task.status}" %></p>
Prioritet: <div data-toggle="tooltip" title="Priority!" class='priority-box <%= @task.priority %>'></div>

<h4>Ansvariga för uppgiften</h4>

<ul>
  <% @task.users.each do |user| %>
    <li><%= link_to user.full_name, user %></li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <%= link_to "Ändra uppgift", edit_task_path(@task) %>
<% end %>


<%= link_to "Tillbaka", tasks_path class: "btn btn-primary" %>
