<%= render 'shared/flash_messages' %>

<h2><%= @task.title %></h2>
<p><%= @task.description %></p>
<p>Start: <%= @task.start.strftime("%d-%m-%Y") %></p>
<p>Deadline: <%= @task.end.strftime("%d-%m-%Y") %></p>

Status: <p><%= I18n.t :"task.status.#{@task.status}" %></p>
Prioritet: <p><%= I18n.t :"task.priority.#{@task.priority}" %></p>

<h4>Ansvariga för uppgiften</h4>

<ul>
  <% @task.users.each do |user| %>
    <li><%= link_to user.full_name, user %></li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <%= link_to "Ändra uppgift", edit_task_path(@task), class: "btn btn-primary" %>
<% end %>
