<%= tinymce %>

<%= form_for @article do |f| %>
    <%= render 'shared/error_messages', obj: f.object %>
    <div class="form-group">
      <%= f.label :title, "Titel" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <%= f.label :body, "Innehåll" %>
    <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>

    <%= f.submit "Skapa", class: "btn btn-primary" %>
    <%= link_to "Tillbaka", root_path, class: "btn btn-primary" %>
<% end %>