<hr />
<%= render 'shared/flash_messages' %>
<div class="panel panel-primary">
   <div class="panel-heading">
     <%= @article.title %>
   </div>
   <div class="panel-body">
     <p><%= @article.body.html_safe %></p>
     <%= link_to "Ta bort", article_path(@article), method: :delete,
                                                    data: { confirm: "Vill du verkligen ta bort artikeln?"}  %>
     <%= link_to "Ändra", edit_article_path(@article) %>
   </div>
 </div>


<%= link_to "Tillbaka", articles_path, class: "btn btn-primary" %>
