<hr />
<div id="user-sort">
  <p>V채lj sortering</p>
  <%= form_tag(params, method: :get, remote: true) do %>
    <%= select_tag(:sort, options_for_select(['Namn', 'Senast anst채lld', 'Email'], params[:sort])) %><br /><br />
    <%= submit_tag "Sortera", class: "btn btn-primary" %>
  <% end %>
</div>

<%= js_will_paginate @users %>

<hr />
<ul class="list-group">
  <% @users.each do |user| %>
    <!-- Visar inte admin..s책 att admin inte ger admin sparken -->
    <% next if user.admin? %>
    <li class="list-group-item">
      <%= link_to user.user_name, user %><%= link_to "Ge sparken", user_path(user), method: :delete, data: { confirm: "Vill du verkligen sparka den h채r personen?"}, class: "fire-link" %>
    </li>
  <% end %>
</ul>
