<% content_for :title, "Profilinställningar" %>

<h3>Ändring av profil</h3>
<p>Obligatoriska fält är markerade med *</p>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', obj: f.object %>
    <div class="form-group">
      <%= f.label :user_name, "* Användarnamn" %>
      <%= f.text_field :user_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name, "Förnamn" %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "ex. Mats" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Efternamn" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "ex. Carlsson" %>
    </div>

    <div class="form-group">
      <%= f.label :ssn, "Personnummer" %>
      <%= f.text_field :ssn, class: "form-control", placeholder: "YYMMDD-XXXX" %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control", placeholder: "ex. namn@exempel.se" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, "Telefonnummer" %>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "ex. 0701234567" %>
    </div>


    <div class="form-group">
      <%= f.label :password, "* Lösenord" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "* Konfirmera lösenord" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <!-- Nested fields for contact person -->
    <hr />
    <h3>Närmaste kontaktperson</h3>

    <%=  f.fields_for :contact_person do |ff| %>
      <div class="form-group">
        <%= ff.label :full_name, "Namn" %>
        <%= ff.text_field :full_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= ff.label :phone_number, "Telefonnummer" %>
        <%= ff.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= ff.label :email, "Email" %>
        <%= ff.text_field :email, class: "form-control" %>
      </div>
    <% end %>

    <hr />



    <%= f.submit "Spara användare", class: "btn btn-primary", data: { disable_with: "Skapar användare.." } %>
    <%= link_to "Tillbaka", root_path, class: "btn btn-primary" %>
<% end %>
