<h2>Anställda</h2>

<!-- Sökformulär, sätter params[:search] -->
<div>
  <%= form_tag(users_path, :method => "get", remote: true) do %>
    <!-- Plockar bort params[:search] om queryn är tom.
         Ser fult ut med tomma querys i URL'n.. -->
    <% if params[:search] == "" %>
      <% params.delete :search %>
    <% end %>

    <%= text_field_tag :search, params[:search], :value => params[:search], maxlength: 100, class: "form-control", id: "user-search-field" %>
    <!-- Empty paragrah is filled with the search query via JavaScript -->
    <p id="search-query-placeholder"></p>
    <button type="submit" class="btn btn-primary" id="user-search-index">Sök</button>
    <%= link_to "Rensa sökning", users_path, class: "btn btn-primary" %>
  <% end %>
</div>

<div id="user_display">
  <%= render 'user_display' %>
</div>

<%= link_to "Tillbaka", current_user, class: "btn btn-primary" %>
