<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Hantera anställda</h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/flash_messages' %>
        <h2><%= @user.user_name %></h2>
        <h4><%= @user.full_name %></h4>

        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#info" aria-controls="info" class="text-settings-nav-tabs" role="tab" data-toggle="tab">Personuppgifter</a></li>
          <li role="presentation"><a href="#education" aria-controls="education" class="text-settings-nav-tabs" role="tab" data-toggle="tab">Utbildning</a></li>
          <li role="presentation"><a href="#contacts" aria-controls="contacts" class="text-settings-nav-tabs" role="tab" data-toggle="tab">Kontaktperson</a></li>
        </ul>


          <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="info">
            <p>Personnummer: <%= @user.ssn %></p>
            <p>Email: <%= @user.email %></p>
            <p>Telefonnummer: <%= @user.phone_number %></p>
          </div>


          <div role="tabpanel" class="tab-pane" id="education">
            <div id="education-display"><%= render "education_display" %></div>

            <% if current_user.admin? || current_user == @user %>
              <div id="show-education-form">
                  <span id="plus-sign" class="glyphicon glyphicon-plus-sign"></span>
                  <span class="text-link">Lägg till utbildning</span>
              </div>
              <div id="education-form">
                <div id="education-errors"></div>
                <ul id="education-list-form">
                    <%= form_for [@user, @user.educations.build], remote: true do |f| %>
                    <li class="form-input">
                        <span class="form-label"><%= f.label :name %></span>
                        <span class="form-input"><%= f.text_field :name %></span>
                    </li>
                    <li class="form-input">
                        <span class="form-label"><%= f.label :school %></span>
                        <span class="form-input"><%= f.text_field :school %></span>
                    </li>
                    <li class="form-input">
                        <span class="form-label"><%= f.label :graduation %></span>
                        <span class="form-input"><%= f.date_field :graduation %></span>
                    </li>
                    <li class="form-action">
                      <span class="form-label"></span>
                      <span class="form-input">
                        <button type="button" id="hide-education-form" class="btn btn-secondary">Avbryt</button>
                        <%= f.submit "Konfirmera", class: "btn btn-primary" %>
                      </span>
                    </li>
                    <% end %>
                </ul>
              </div>
            <% end %>
          </div>

          <div role="tabpanel" class="tab-pane" id="contacts">
            <% if @user.contact_person.present? %>
              <p>Namn: <%= @user.contact_person.full_name %></p>
              <p>Telefonnummer: <%= @user.contact_person.phone_number %></p>
              <p>Namn: <%= @user.contact_person.email %></p>
            <% end %>
          </div>
        </div>


        <% if current_user.admin? %>
          <hr />
          <%= link_to "Ändra anställd", edit_user_path(@user) %>
          <% if @user.admin? %>
            <%= render 'admin_dashboard' %>
          <% end %>
        <% end %>

        <% if current_user.human_resources? %>
          <%= link_to "Skapa ny anställd", new_user_path, class: "btn btn-default" %>
          <%= link_to "Visa anställda", users_path, class: "btn btn-default" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
