<h2><%= @user.name %></h2>

<!-- Om användaren är admin renderas views/users/_admin_dashboard.html.erb -->
<% if current_user.admin? %>
  <%= form_for [@user, @user.educations.build] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <% end %>

  <% if @user.admin? %>
    <%= render 'admin_dashboard' %>
  <% end %>
<% end %>