<!DOCTYPE html>
<html>
<head>
  <title>IntraEV <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Flashmeddelanden visas här. Flash[:notice], Flash[:success] osv -->
  <% flash.each do |message_type, message| %>
    <!-- CSS-klassen blir tex "flash-success" eller "flash-notice" -->
    <div class="flash-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>

  <!-- Utloggningsknapp bara för inloggade användare -->
  <% if logged_in? %>
    <li><%= link_to "Logga ut", logout_path, method: "delete" %></li>
  <% end %>
  <%= yield %>

  <!-- Debuginformation om params tex, syns bara i developer -->
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
