<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
  <title>IntraEV <%= yield :title %></title>
  <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
      <!-- Utloggningsknapp bara för inloggade användare -->
      <% if logged_in? %>
      <body data-no-turbolink="true" id="loggedin">
        <!-- <div id="wrapper"> -->
          <%= render 'layouts/navigation' %>

          <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
              <ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Dashboard</li>
              </ol>
            </div><!--/.row-->

            <!--
              HELPER
              * row - Skapar en rad
              * col-lg-xx - Skapar kolumner. xx är en siffra (max 12)
              * Alla kolumner ska tillsammans vara 12
              * panel panel-primary - skapar boxen
              * panel-heading - skapar headern
              * panel-body - skapar innehållet i boxen
            -->

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <h1>Dashboard <small>Admin workbench</small></h1>
                </div>
            </div>
            <%= yield %>

            <!-- Debuginformation om params tex, syns bara i developer -->
            <%= debug(params) if Rails.env.development? %>

          </div>

      </body>
      <% end %>

      <% if !logged_in? %>
        <body data-no-turbolink="true" id="login">
          <%= yield %>

          <!-- Debuginformation om params tex, syns bara i developer -->
          <%= debug(params) if Rails.env.development? %>

        </body>
      <% end %>

</html>
