<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
  <title>IntraEV <%= yield :title %></title>
  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
   <%= yield :charts_js %>

  <%= csrf_meta_tags %>
</head>
      <!-- Log out button only if logged in -->
      <% if logged_in? %>
      <body data-no-turbolink="true" id="loggedin">
        <!-- <div id="wrapper"> -->
          <%= render 'layouts/navigation' %>

          <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div id="page-top" class="row">
              <ol class="breadcrumb">
                <% render 'layouts/breadcrumbs' %>
              </ol>
            </div>

            <%= yield %>

            <!-- Debug info, only shown in development (not on heroku) -->
            <%= debug(params) if Rails.env.development? %>

          </div>

      </body>
      <% end %>

      <% if !logged_in? %>
        <body data-no-turbolink="true" id="login">
          <%= yield %>

          <%= debug(params) if Rails.env.development? %>

        </body>
      <% end %>

</html>
